.navbar-default .navbar-nav li a{
			color: white;
			font-weight: bold;
		}
		.navbar-default .navbar-toggle{
			background-color: white;
		}
		.navbar-default .navbar-nav .open a{
			background-color: red;
			color: white;
		}
		.navbar-default .navbar-nav .open .dropdown-menu .active a{
			background-color: red;
			color: white;
		}
		.navbar-default .navbar-nav .open a:hover{
			background-color: red;
			color: #555;

		}
		.navbar-default .navbar-nav .open a:focus{
			background-color: red;
			color: #555;
		}
		.navbar-default .navbar-nav .open .dropdown-menu .active a:hover{
			background-color: red;
			color: #555;
		}
		.navbar-default .navbar-nav .open .dropdown-menu li a{
			color: white;
		}
		.navbar-default .navbar-nav .open .dropdown-menu li a:hover{
			color: #555;
		}